<div>
    <h1>Que me parece Angular?</h1>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laudantium ea, consequuntur fugiat natus sit dolore praesentium illo iste enim asperiores accusantium dolores labore ducimus, nemo aut cumque facere voluptatem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quam eaque maiores earum soluta possimus? Tempora et, autem eveniet aliquid modi iure laborum, ut vel voluptate architecto, qui harum sequi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium vitae vel, quo eligendi illum quibusdam cumque esse suscipit quia iste laboriosam unde ratione culpa, delectus est quidem commodi hic in!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium vitae vel, quo eligendi illum quibusdam cumque esse suscipit quia iste laboriosam unde ratione culpa, delectus est quidem commodi hic in!</p>
    </article>
    @defer (on viewport) {
        <app-comments/>
    } @placeholder {
        <p>Futuros Comentarios</p>
    } @loading {
        <p>Cargando Comentarios</p>
    }
</div>

<!-- <router-outlet /> -->
